.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: space-around;
  justify-content: space-evenly;
}

.grid-item {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}