.search {
    background-color: rgb(109, 151, 104);
    background-image: url("https://img.freepik.com/free-photo/wooden-table-looking-out-defocussed-room-interior_1048-11830.jpg?w=2000&t=st=1689021429~exp=1689022029~hmac=78f636c1ae15fb7349993198615adcd8414e145615c0ceb239476c06748816da");
    height: auto;
    width: 100%;
    top: 0px;
    display: block;
    overflow: auto;
    text-align: center;
}

.subHeader {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    bottom: 10px;
    color: white;
    margin-left: 8rem;
    margin-right: 8rem;
}

.buttonSearch {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(208, 189, 66);
    color: white;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: larger;
    cursor: pointer;
}

.buttonSearch:hover {
    background-color: rgb(124, 124, 36);
}

.headButton {
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-family: inherit;
    font-size: 1rem;
}

.inputs {
    margin-top: 2rem;
}

.inputs input {
    border-radius: 5px;
    
}